.collection-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sortable-list {
    width: 100%;
    padding: 25px;
    background: #fff;
    border-radius: 7px;
    padding: 30px 25px 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
}
.sortable-list .item {
    list-style: none;
    display: grid;
    cursor: move;
    align-items: center;
    border-radius: 5px;
    padding: 10px 13px;
    margin-bottom: 5px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.06); */
    border: 1px solid #ccc;
    grid-template-columns: 1fr 1fr auto auto auto;
}
.item i {
    color: gray;
    font-size: 1.13rem;
    margin: 0 .5rem;
    width: 1rem;
}
.item a:has(i) {
    justify-content: center;
}
.item.dragging {
    opacity: 0.3;
}
.item.dragging :where(.details, i) {
    opacity: 0;
}
.sortable-list .item-add {
    cursor: pointer;
}
.sortable-list .item:hover {
    background-color: rgba(21,21,21,.5);
}
.sortable-list .item-add:hover {
    background-color: rgba(21,21,21,1);
}
.item a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

.row {
    margin-bottom: 2rem;
}
.run_icon {
    cursor: pointer;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}