{% extends "./base.html" %}
{% block title %}gramy!{% endblock %}
{% load static %}
{% load filters %}
{% block scripts %}
<script defer src="{% static './contar_game_script.js' %}"></script>
{% endblock %}
{% block content %}
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
         role="progressbar" id="exercise_progress_bar"
         aria-valuenow="0" aria-valuemin="0" aria-valuemax="20" style="width: 0%;"></div>
</div>
<div class="alert alert-light" id="game_field">
    <div id="problem_container" class="carousel slide row align-items-center">
        <div class="carousel-inner">
            {% for problem in problems %}
            {% if forloop.counter0 %}
            <div class="carousel-item" id="problem_{{ forloop.counter0 }}">
                <div class="problem">
                    $$ {{ problem.latex_string }} $$
                </div>
            </div>
            {% else %}
            <div class="carousel-item active" id="problem_{{ forloop.counter0 }}">
                <div class="problem">
                    $$ {{ problem.latex_string }} $$
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center d-none d-sm-block">
        <input type="number" inputmode="numeric" id="answer" name="answer" placeholder="wpisz" class="bg-dark">
    </div>
    <div class="row justify-content-center align-items-center d-flex d-sm-none" style="width: 95%; margin: 1em auto;">
        <div id="answer_small" class="bg-dark fs-1" style="text-align: center; height: 3rem;"> </div>
    </div>
    <div class="row justify-content-center align-items-center d-flex d-sm-none" style="width: 95%; margin: 1em auto;">
        <div class="btn bg-warning text-info fs-2 col-2" id="button_0">0</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_1">1</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_2">2</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_3">3</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_4">4</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_del"><i class="fa-solid fa-delete-left"></i></div>
    </div>
    <div class="row justify-content-center align-items-center d-flex d-sm-none" style="width: 95%; margin: 1em auto;">
        <div class="btn bg-warning text-info fs-2 col-2" id="button_5">5</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_6">6</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_7">7</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_8">8</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_9">9</div>
        <div class="btn bg-warning text-info fs-2 col-2" id="button_cls"><i class="fa-solid fa-times"></i></div>
    </div>
</div>
<div class="buttons_row row justify-content-between align-items-center gx-10 mx-auto">
    <button class="btn btn-lg btn-info carousel-prev col-auto mx-auto" id="prev_problem" type="button">
        <i class="fa-solid fa-circle-left fa-3x"></i>
    </button>

    <button class="btn btn-lg btn-success col-auto mx-auto" id="confirm_answer" type="button">
        <i class="fa-solid fa-circle-check fa-3x"></i>
    </button>

    <button class="btn btn-lg btn-info carousel-next col-auto mx-auto" id="next_problem" type="button">
        <i class="fa-solid fa-circle-right fa-3x"></i>
    </button>
</div>

<!-- correct answer modal -->
<div class="modal bg-success" id="correct_answer_modal">
    <div class="modal-dialog modal-fullscreen-md-down" role="document">
        <div class="modal-content">
            <div class="modal-body bg-success fs-1">
                <p>To jest poprawna odpowiedź!</p>
            </div>
            <div class="modal-footer">
                <button "bg-info fs-1" data-bs-dismiss="modal">Przejdź dalej.</button>
            </div>
        </div>
    </div>
</div>

<!-- results in json for js -->
<script id="problems_data" type="application/json">
    {{ results|to_json }}
</script>
{% endblock %}
