{% extends "./base.html" %}
{% block title %}gramy!{% endblock %}
{% load static %}
{% load filters %}
{% block content %}
<p></p>
<div class="container">
    <div class="row">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">koniec gry</div>
            <div class="card-body">
                <h4 class="card-title">{{ problems_number }} mnożeń</h4>
                <p class="card-text">{{ message|linebreaks }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
